<h2>
    Entre em contato conosco!
</h2>
<div>
    <!-- <img src="https://cdn-icons-png.flaticon.com/512/3346/3346378.png" class="img-sac"> -->
    <p>
        Telefones:
    </p>
    <ul>
        <li>
            (85)94002-8922
        </li>
        <li>
            (85)98769-6969
        </li>

    </ul>
</div>
<div>
    <button class="zap-btn">
        <img src="https://img.icons8.com/?size=512&id=16713&format=png"> 
        <p>Fale com um de nossos vendedores no Whatsapp!</p>
    </button>
</div>