<h2>CARROS DISPONIVEIS</h2>
<ul class="list-group">
    <li *ngFor="let carro of carro" class="list-group-item"
    [ngStyle]="{'style':'none'}">
        <div class="card">
            <div>   
                <h3>
                    <span class="marca">{{carro.marca}}</span>
                    <span class="MODELO">{{carro.modelo}}</span><br> 
                </h3>
                <h4>
                    <span>Ano: {{carro.ano}}</span>
                    <span>Cor: {{carro.cor}}</span>
                    <span>Por apenas R${{carro.preco}},00</span>
                </h4>
            </div>
            <div class="abc">
                <span><img src="{{carro.imagem}}" alt="carro" class="IMAGEM-CARRO"></span><br>
                <button [routerLink]="['/rent']" class="botao">comprar</button>
            </div>
        </div>

    </li>
</ul>
<!-- <button [routerLink]="['/']" class="back-button">Voltar</button> -->
