<h2>CARROS DISPONIVEIS</h2>
<button [routerLink]="['/']" class="back-button">Voltar</button>
<ul class="list-group">
    <li *ngFor="let carro of carro" class="list-group-item"
    [ngStyle]="{'style':'none'}">
        <div class="card">
            <div>   
                <h3> <span class="MODELO">{{carro.modelo}}</span><br>
                <span class="marca">{{carro.marca}}</span><br> </h3>
                <h4>
                    <span>{{carro.ano}}</span><br>
                    <span>{{carro.cor}}</span><br>
                    <span>R${{carro.preco}},00</span><br>
                </h4>
            </div>
            <div class="abc">
                <span><img src="{{carro.imagem}}" alt="carro" class="IMAGEM-CARRO"></span><br>
                <button [routerLink]="['/rent']" class="botao">comprar</button>
            </div>
        </div>

    </li>
</ul>
