.list-group button{
    background: linear-gradient(to right, #cc0e1e, #25252700);
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-size: larger;
}

.list-group button:hover{
    background: linear-gradient(to right, #cc0e1e, #cc0e1e);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    scale: 1.04;
}

h2{
    font-size: 30px;
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #ffffff;
}

h3{
    font-size: 25px;
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #000000;
}

h4{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #000000c5;
}

span{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, #ffffff00, #cc0e1e);
}

.abc{
    margin-right: 300px;

}

.back-button{
    background: linear-gradient(to right, #000000, #010136);
    color: #cc0e1e;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial';
    text-align: center;
}

.back-button:hover{
    background:  #cc0e1e;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.1;
    transition: 0.3s;
}

.MODELO, .marca{
    font-size: 50px;
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #ffffffc5;
    font-style: oblique;

}