<h2>CARROS DISPONIVEIS</h2>
<ul class="list-group">
    <li *ngFor="let carro of carro" class="list-group-item">
        <button class="button-lista">
            <span class="MODELO">{{carro.modelo}}</span><br>
            <span class="marca">{{carro.marca}}</span><br>
            <span>{{carro.ano}}</span><br>
            <span>{{carro.cor}}</span><br>
            <span>R${{carro.preco}},00</span><br>
            
            <span><img src="{{carro.imagem}}" alt="carro" class="IMAGEM-CARRO"></span><br>
    </button>