*{
    margin:10px;
}

.botao2{
    background-color: #cc0e1e;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
}

.botao2:hover {
    background-color: #dd2938;

}

.confirm{
    background-color: #cc0e1e;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    /* width: 200px; */
    height: fit-content;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
   
}

.confirm:hover {
    background-color: #dd2938;
    scale: 1.06;

}

.confirm:active{
    background-color: #dd2938;
    scale: 1;
}